<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>세미 프로젝트 - join</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/base.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">


    <style>

    .form-group {
        margin-bottom: 20px; /* 폼 요소 간의 간격 조절 */
    }

    .form-group:last-child{margin-left: 70px;}

    .container {
        margin-top: 100px; /* 전체 폼의 상단 여백 조절 */
    }
    </style>

</head>
<body>
    <div id="container">
    <header>
        <h1>세미 프로젝트 v1</h1></header>
        <nav>
            <ul class="list-inline row text-center justify-content-evenly mt-5">
                <li class="col-2"><a href="/">Home</a></li>
                <li class="col-2"><a href="/join">회원가입</a></li>
                <li class="col-2"><a href="/login">로그인</a></li>
                <li class="col-2"><a href="/board/list">게시판</a></li>
                <li class="col-2"><a href="/myinfo">회원정보</a></li>
            </ul>
            <hr>
        </nav>
    <main>
        <div><h2>회원가입</h2></div>
        <div class="container d-flex justify-content-center">
            <form class="m-auto">
                <div class="form-group row">
                    <label for="idInput" class="col-sm-3 col-form-label">아이디</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="idInput">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="passwordInput" class="col-sm-3 col-form-label">비밀번호</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="passwordInput">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="confirmPasswordInput" class="col-sm-3 col-form-label">비밀번호 확인</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="confirmPasswordInput">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="emailInput" class="col-sm-3 col-form-label">이메일</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="emailInput">
                    </div>
                </div>
                <div class="form-group row justify-content-center mt-3">
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary"><i class="bi bi-check"></i> 입력완료</button>
                        <button type="reset" class="btn btn-danger ml-2"><i class="bi bi-x"></i> 입력취소</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <hr>
        <div>copyright &copy; 2014.2017. popop. All Rights Reserved.</div>
    </footer>
    </div>
</body>
</html>